<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ntalk - Agenda de contatos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
  </head>
    <body>
    <div class="row">
      <div class="col-md-12">
        <div class="all col-md-6 col-md-offset-3">
          <style media="screen">
            .all{
              text-align: center;
            }
            body{
              background-color: #f1f1f1;
            }
          </style>

            <header>
                <h1>Ntalk</h1>
                <h4>Bem-vindo!</h4>
            </header>
        <section>
          <form action="/entrar" method="post">
            <div class="form-group">
                <input type="text" name="nome" placeholder="Seu nome">
            </div>

            <br>

            <div class="form-group">
              <input type="text" name="email" placeholder="Seu e-mail">
            </div>

            <br>
            <button type="submit btn-primary">Entrar</button>
          </form>
        </section>
        <footer>
          <small>Ntalk - Agenda de contatos</small>
        </footer>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
        </div>
      </div>
    </div>

  </body>
</html>
